footer{
    text-align: center;
    font-size: 30px;
    background-image: $gradient;
    background-color: $color3;
    color: $color1;
    text-transform: uppercase;
    text-shadow: 0 0 10px #000;
    border: 2px solid #000;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

p{
    margin-bottom: 20px;
}

.redes a{
    color: #fff;
    font-size: 50px;
}