footer{
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(to top, #643843, #6e3f4d, #784756, #824f61, #8c576b, #945e74, #9d667c, #a56d85, #ae758d, #b67d96, #bf869e, #c88ea7);
    background-color: #EA9999;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 10px #000;
    border: 2px solid #000;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

footer p{
    margin-bottom: 20px;
}

.redes a{
    color: #fff;
    font-size: 50px;
}