$color1: #fff;
$color2: #000;
$color3: #EA9999;
$gradient: linear-gradient(to top, #643843, #6e3f4d, #784756, #824f61, #8c576b, #945e74, #9d667c, #a56d85, #ae758d, #b67d96, #bf869e, #c88ea7);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "_header";
@import "_main";
@import "_index";
@import "_footer";
@import "_tattoos";
@import "_pecasyarreglos";
@import "_turnos";

@import "_media425px";
@import "_mediamobile";
